

.form{
    background-color: aqua;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding:30px;
}



.inputsContainer{
    margin:30px;
}

.button{
    padding:10px;
    border-radius:10px;
    margin-top: 30px;
}

.checkbox{
    margin:5px;
}

.inputs{
    padding:6px;
    border-radius:10px;
    border:solid 2px black;
    width:200px;
}

