.activity{
    margin-top:40px;
    background-color:#0b498b;
    padding:5px;
    border-radius:5px;
    width:200px;
    margin:50px;
    border: solid 2px white;
}


.dataActivity{
    margin:20px;
    color:white;
}

.activityP{
    color:#02172c;
}