
h2{
    margin:20px;
    color: cadetblue;
}

.divDetail{
    background-color: #09213a;
    padding:10px;
}

.nameCountry{
    text-align: center;
    font-size:30px;
    color:white;
    letter-spacing: 2px;
}

.detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:30px;
    text-align: center;
}

.detailCountry{
    margin-top:50px;
    background-color:rgb(11, 11, 36);
    border: solid 3px rgb(19, 104, 214);
    padding:20px;
    border-radius:20px;
    color:white;
}

.flag{
    border-radius:20px;
}

.dataCountry{
    margin:20px;
}

@media(max-width:500px){
    .detailCountry{
        width:250px;
    }

    .flag{
        width:200px;
    }
}