.card{
    margin:40px;
    text-align: center;
    background-color:#0b498b;
    padding: 20px;
    border-radius:5px;
    border: solid 2px white;
}

.card h1{
    color:white;
    cursor: pointer;
    margin-top:15px;
}

.card p{
    color:white;
    cursor: pointer;
}

.img{
    width: 200px;
    height:150px;
    cursor: pointer;
    border-radius:10px;
    box-shadow: -5px 10px 10px -3px rgba(0,0,0,0.74);
    margin-bottom:20px;
}