.card{
    margin:40px;
    text-align: center;
    background-color:white;
    padding: 20px;
    border-radius:10px;
}

.card h1{
    color:#0C3968;
    cursor: pointer;
    margin-top:15px;
}

.card p{
    color:#0C3968;
    cursor: pointer;
}

.img{
    width: 200px;
    height:150px;
    cursor: pointer;
    border-radius:20px;
    box-shadow: -5px 10px 10px -3px rgba(0,0,0,0.74);
    margin-bottom:20px;
}