.landing{
    background-image:url('./assets/fondo.png');
    background-size: contain;
    background-repeat:round;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.247);
    height:100vh;
    width:100vw;
    position: absolute;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    text-align: center;
}

.welcome{
    font-size:35px;
    color: white;
    margin-left:20px;
    margin-right:20px
}

.button{
    padding:10px;
    background-color:white;
    text-decoration: none;
    font-size:30px;
    font-family: 'Tilt Warp', cursive;
    color:#0C3968;
    border-radius:15px;
    margin-top: 40px;

}

.button:hover{
    color:white;
    background-color:grey;
}

@media(max-width:666px){
    .landing{
        background-image:url('./assets/fondoResp.png');
    }

    .container{
        margin-top:220px;
    }
}

@media(max-width: 450px){
    .landing{
        background-image:url('./assets/fondoResp1.png');
    }
    .welcome{
        font-size:25px;
    }

    .button{
        padding:6px;
        font-size:20px;
    }

}